<h1>Page 4</h1>

<%= turbo_frame_tag 'page4-image-response' do %>
  <%= image_tag 'photo_2023-03-27_09-57-09 - Copy.jpg', class: 'w-52' %>
<% end %>

<%= turbo_frame_tag 'page4-text' do %>
  <p> I love cats </p>
<% end %>

<%= turbo_frame_tag 'page4-image-cat' do %>
  <%= image_tag 'ac7.png', class: 'w-52' %>
<% end %>